@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {


  /* RUI XIAN HOW TO DO FONTS */
  /* @font-face {
    font-family: Inter;
    src: url(/fonts/Inter-Regular.ttf);
  }
  @font-face {
    font-family: Inter;
    src: url(/fonts/Inter-Medium.ttf);
  } */

  

  .bg-green{
    background-color: #83BB65;
  }

  .bg-dashboard{
    background-color: #F7F8FC;
  }


}


